{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    {% if request.user == post.user %}
        <form action="{% url 'post:question_delete' post_pk=post.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger btn-sm pull-right">질문 삭제</button>
        </form>
    {% endif %}
    {% if post.link %}
        <script src="{{ post.link }}.js"></script>
    {% endif %}
    {{ post.context }}
    {% include 'include/comment_include.html' with post=post %}
{% endblock %}