{% extends 'base.html' %}
{% block title %}
    강의 영상
{% endblock %}
{% block content %}
    <ul class="list-unstyled video-list-thumbs row">
        {% for item in rec_list %}
            <li class="col-lg-6 col-sm-6 col-xs-6 text-center" >
                <a href="{{ item.get_absolute_url }}" style="text-decoration: none">
                    <img class="thumbnail"
                         style="width: 100%"
                         src="https://img.youtube.com/vi/{{ item.get_youtube_id }}/0.jpg">{{ item }}
                    <span class="pull-right">{{ item.created_at }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


